export NODE_ENV=development
export PYTHON_ENV=development
export SUPABASE_URL='https://ippouwpiwngahsyqogya.supabase.co'
export SUPABASE_ANON_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlwcG91d3Bpd25nYWhzeXFvZ3lhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTgwMDIyODEsImV4cCI6MjAzMzU3ODI4MX0.Er38IbeANueCwDcYUFxm_x5KcHMS-JqKBNM9K6GA70g'
